<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Management App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/theme.css.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>  
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link active">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Book" asp-action="Index">Books</a>
                        </li>
                        @if(User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Book" asp-action="Create">Add Book</a>
                            </li>
                        }
                    </ul>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right:20px">
                            Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Arts">Arts</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Music">Music</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Drama">Drama</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Biography">Biography</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Buisness">Buisness</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Comics">Comics</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Technology">Technology</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Cooking">Cooking</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Educational">Educational</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Entertainment">Entertainment</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Health">Health</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="History">History</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Medical">Medical</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Literature">Literature</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Science">Science</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Horror">Horror</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Religion">Religion</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Romance">Romance</a>
                            <a class="dropdown-item" asp-controller="Book" asp-action="GetBooksByCategory" asp-route-category="Sports">Sports</a>

                        </div>
                    </div>
                    <form class="d-flex" asp-controller="Book" asp-action="Search" method="get">
                        <input class="form-control me-sm-2" type="search" placeholder="Search" name="searchString">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                            Search
                        </button>
                    </form>
                    <ul class="navbar-nav">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">Sign Up</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="btn btn-secondary" type="submit">
                            <a asp-controller="Account" asp-action="Login">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                </svg>
                            </a>
                        </button>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
