################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LibraryManagementWebApplication/.vs/LibraryManagementWebApplication
/LibraryManagementWebApplication/LibraryManagementWebApplication/obj
/LibraryManagementWebApplication/LibraryManagementWebApplication/bin/Debug/net8.0
