################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LibraryManagementWebApplication/.vs/LibraryManagementWebApplication
/LibraryManagementWebApplication/LibraryManagementWebApplication/obj
/LibraryManagementWebApplication/LibraryManagementWebApplication/bin/Debug/net8.0
/LibraryManagementWebApplication/.vs/ProjectEvaluation/librarymanagementwebapplication.projects.v7.bin
/LibraryManagementWebApplication/.vs/ProjectEvaluation/librarymanagementwebapplication.metadata.v7.bin
/assets
/LibraryManagementWebApplication/LibraryManagementWebApplication/wwwroot/lib/fontawesome-free-6.5.2-web
