@using LibraryManagementWebApplication.ViewModels
@model LoginViewModel

<div class="form-container" style="padding:20px; margin: auto; margin-top:100px; width:50%; overflow:auto; display:block; border-radius:10px;background-color:cyan;">
    <form method="post" asp-action="Login" enctype="multipart/form-data">
        <h1 style="margin-bottom:30px; text-align:center;">Sign in</h1>
        @if (TempData["LoginError"] != null)
        {
            <div>
                <h3 style="color:red;">@TempData["Error"]</h3>
            </div>
        }
        <div class="form-label-group" style="margin-bottom:20px;">
            <label asp-for="Email" style="padding-bottom:5px;">Email Address</label>
            <input asp-for="Email" class="form-control" placeholder="Enter Email" required autofocus>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-label-group">
            <label asp-for="Password" style="padding-bottom:5px;">Password</label>
            <input asp-for="Password" class="form-control" placeholder="Enter Email" required autofocus>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-row form-group" style="margin-top:30px">
            <div class="col">
                <button class="btn btn-block btn-success btn-lg" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>